<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%boldCyan(%thread)][%boldGreen(%-36.36logger{36})] %highlight(%-5level): %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="cloud.dreamcare.buncord" level="DEBUG" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
